body 
{ 
   	background: #F0F0F0 !important; 
    font-family: "Times New Roman", Times, serif;
} 
#map {
height: 400px;
width: 100%;
}
.formBorder{
    background-color : #F0F0F0 !important;
}

a
{
	text-decoration: underline;
}
h1{
  font-size: 2.5em;
}
