<mat-toolbar routerLink='/basicInfo' color="basic">
        <button mat-fab >Dulguun</button>
        <button routerLink='/aboutme' mat-button>About me</button>
        <button mat-button>Contact</button>
        <button mat-button>Blog</button>
</mat-toolbar>
<div class="jumbotron">
    <h1 class="display-4">Hello there!</h1>
    <p class="lead">My Name is Dulguun. I am currently pursuing a Bachelor degree of Computer science at Eötvös Loránd University.I am also an Intern at Ericsson.</p>
    ​<picture>
    <img src="assets/a2/Dulguun.jpg"  class="img-fluid dulguun">
    </picture>
    <hr class="my-4">
    <p class="lead" >I build websites and web-services. I am well versed with modern-web technologies. I can build and deploy mid-sized web-application in MEAN and LAMP stacks. </p>
    <h2> You can check out my LinkedIn and Github account! </h2>    
      <div class="socialMedia">
        <div class="column">
          <a target='_blank'  href="https://www.linkedin.com/in/dulguun-bold-b6004a112/">
          <img class="img-fluid linkedin rounded mx-auto d-block" alt="linkedin logo" src="assets/a2/linkedin.png">
          </a>
        </div>
        <div class="column">
          <a target='_blank' href="https://github.com/dulguunb">
            <img class="img-fluid github rounded mx-auto d-block"  alt="github logo" src="assets/a2/github.png">
          </a>
        </div>
      </div>
      <hr class="my-4">
      <div class="Experience">
        <h2>Working experiences:</h2>
          <ul>
          <li>Junior C++ developer at <a href="https://asuratechnologies.com/"> Asura </a>in 2017 in Budapest</li>
          <li>Intern at <a href="http://ericsson.com/">Ericsson</a> ETH from 2018 - Present</li>
          </ul>
      </div>
      <hr class="my-4">
      <div class="University-Experience">
        <h2>Academic:</h2>
        <p>
        I studied software engineering at National University of Mongolia for two years. I got transfered to Eötvös Loránd University in Budapest.
        During my time at National University of Mongolia. I have completed a project called BUS-Project which is a web-based application that finds bus-routes in capital city Ulaanbaatar.
        </p>
        <p>
         I am also working on research project called "smart house" at my current university.
        </p>
      </div>
      <hr class="my-4">
      <div class="Technologies">
        <h2> Skills: </h2>
        <p>I am well versed with following technologies,frameworks,tools and languages: 
          <ul>
            <li>C++[QT]</li>
            <li>Java[JavaFx,JPA,Android-studio]</li>
            <li>Javascript[Nodejs,Angular] including ES5 and ES6</li>
            <li>NPM (package manager for javascript) </li>
            <li>PHP7</li>
            <li>Python3 [Flask - for web development]</li>
            <li> Python3 for general scripting </li>
          </ul> 
      </div>     
      <hr class="my-4"> 
      <p>I also do freelance work for building web-sites , if you would like to work with me contact me via: bolddulguun2 at gmail dot com</p>
    </div>